!test/difftest_*.c
*.[do]
*.log
*.raw
*.wav
.buildmode
.vscode/
build/
cfg.h
config.default
include.txt
input.h
md.h
parsegen
test/_*
test/difftest_*
test/harness/out/
test/harness/out64
test/zsnes_*test
tools/__pycache__
unused-report.txt
win/confloc.h
zcfgloc.cfg
zfont.txt
zinput.cfg
zmovie.cfg
zsnes
zsnes.exe
zsnesl.cfg
