!test/difftest_*.c
*.[do]
*.log
*.raw
*.wav
.vscode/
build/
config.default
include.txt
parsegen
test/_*
test/difftest_*
test/harness/out/
test/harness/out64
test/zsnes_*test
tools/__pycache__
unused-report.txt
zcfgloc.cfg
zfont.txt
zinput.cfg
zmovie.cfg
zsnes
zsnes.exe
zsnesl.cfg
