*.[do]
*.log
*.raw
*.wav
build/
cfg.h
config.default
include.txt
input.h
md.h
parsegen
test/zsnes_netplay_test
test/zsnes_st10_test
test/zsnes_test
win/confloc.h
zfont.txt
zinput.cfg
zmovie.cfg
zsnes
zsnes.exe
zsnesl.cfg
