/*    The Plain Text stylesheet.
The goal with this style is to make the docs look as much as possible like the text version of the docs.    */

/*    ALL PROPERTIES ARE ALPHABETIZED!!!  KEEP THEM THAT WAY!!!    */

body {
  font-family: "Lucida Console", "Courier New", Courier, monospace;
  font-size: 10pt;
  width: 48em;
}

img {
  display: none;
}

a:after {
   content: " [" attr(href) "]";
}
