a:link, a:active, a:visited {
	background-color: transparent;
	text-decoration: underline;
	color: #203040;
}
a:hover {
	background-color: #D0D0D0;
	text-decoration: underline;
	color: #506070;
}

#zsnes-documentation {
	margin: 0px;
	background-color: #FFFFFF;
	font: normal 11px Verdana, Sans-Serif;
}

#header {
	padding: 3px;
	background-color: #C8CFD8;
}
#header h1 {
    float: left;
    margin: 0px;
}
#header h2 {
    padding: 83px 0px 0px 0px;
	margin: 0px;
}
#header_oslogo {
	float: right;
}

#header_nav {
	background-color: #A4A9B0;
	padding: 3px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	font-weight: bold;
	border-bottom: solid 1px #404040;
}

#navigation {
	float: left;
    width: 192px;
    margin: 10px;
	padding: 1px 1px 3px 1px;
	background-color: #C8CFD8;
	border: solid 1px #404040;
	font: Normal 13px Verdana, Sans-Serif;
}
#navigation h1 {
	background-color: #A4A9B0;
	margin: 0px;
    padding: 4px 0px 0px 4px;
	font: Bold 14px Arial, Sans-Serif;
	background-image: url( 'images/corner.png' );
	background-position:top right;
	background-repeat: no-repeat;
	height: 22px;
}
#navigation ul {
	list-style-type: none;
	margin: 0px 0px 0px -20px;
	padding: 0px 4px 0px 41px;
}

#content {
	margin: 10px 10px 10px 216px;
	padding: 1px;
	background-color: #C8CFD8;
	border: solid 1px #404040;
}
#content h1 {
	background-color: #A4A9B0;
	margin: 0px;
    padding: 4px 0px 0px 4px;
	font: Bold 14px Arial, Sans-Serif;
	background-image: url('images/corner.png');
	background-position:top right;
	background-repeat: no-repeat;
    height: 22px;
}
#content h2 {
	background-color: #A4A9B0;
	margin: 0px;
    padding: 3px;
	font: Bold 14px Arial, Sans-Serif;
}
.content_body {
	margin: 0px;
	padding: 4px;
	font: Normal 13px Verdana, Sans-Serif;
}
.content_body ul {
	list-style-type: none;
	margin: 0px 0px 0px -24px;
	text-indent: -12px;
	padding: 0px 4px 0px 52px;
}

#footer {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	font-weight: bold;
}

#version {
	margin-top: 8px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
    font-size: 8px;
    color: #BBBBBB;
}

.list_head {
	padding: 3px;
	margin: 0px 0px 0px -20px;
    font-weight: bold;
}

.faq_question {
	margin: 0px 0px 0px -16px;
	font-weight: bold;
}

.faq_answer {
	margin: 0px 0px 0px -16px;
}

.previous_version_number {
	font-weight: bold;
	text-decoration: underline;
}