[Desktop Entry]
Version=1.0
Type=Application
Name=ZSNES
Comment=Super Nintendo emulator
Exec=zsnes %f
TryExec=zsnes
Icon=zsnes
Terminal=false
StartupNotify=false
Categories=Game;Emulator;
MimeType=application/vnd.nintendo.snes.rom;application/x-snes-rom;
