[Desktop Entry]
Version=1.0
Type=Application
Name=ZSNES
Comment=Super Nintendo emulator
Exec=zsnes
Icon=zsnes
Terminal=false
StartupNotify=false
Categories=Application;Game;Emulator;
